body {
    background-color: #ffff99;
    font-family: Arial, Helvetica, sans-serif;
}
 
h1 {
    border: 2px solid #ff6600;
    color: #ff6600;
    font-size: 4em;
    font-family: Impact, Helvetica, sans-serif;
    padding: 10px;
}
 
h2 {
      background-color: #ff6600;
      padding-top: 10px;
      color: #ffcc00;
      padding: 10px;
      font-family: 'Courier New', Courier, monospace;
}
 
ol {
    padding: 10px;
    background-color: #ffcc00;
}
 
li {
    color:  #ffff99;
    margin-left: 10px;
}
 
p {
    padding: 10px;
    border: 2px dotted orange;
}
